@font-face {
    font-family: 'Overpass';
    src: local('Overpass'), url(./fonts/overpass.woff2) format('woff2');
}

#mt_react {
    font-family: "Overpass", sans-serif !important;
    margin: auto !important;
    background-color: #222222 !important;
    color: #f2f2f2 !important;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #f2f2f2 !important;
}

.row {
    display: flex !important;
}